.root {
    -fx-background-color: #e6e6e6;
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #a372b5, #36006e);
    -fx-text-fill: white;
    -fx-background-radius: 0;
}
.button:hover {
    -fx-background-color: linear-gradient(to bottom, #755282, #1c0038);
}
.button:pressed {
    -fx-background-color: linear-gradient(to top, #755282, #1c0038);
}

.text-field {
    -fx-background-color: #fffded;
    -fx-border-color: #999;
    -fx-border-width: 1px;
}

.password-field {
    -fx-background-color: #fffded;
    -fx-border-color: #999;
    -fx-border-width: 1px;
}